<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-light">
    <div class="container py-5">
      <h1 class="mb-4 text-primary">Saved Messages:</h1>
      <ul class="list-group">
        {% for timestamp, message in messages.items() %}
        <li class="list-group-item">
          <strong class="text-muted">{{ timestamp }}</strong>:
          <span class="fw-bold">{{ message.username }}</span> said
          <em>"{{ message.message }}"</em>
        </li>
        {% else %}
        <li class="list-group-item text-secondary">No messages found.</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
